* {
    box-sizing: border-box;
  }

body {
    height: 100vh;
    max-width:390px;
    margin: 0;
    background-image: url(../images/background.png);
    background-color:rgb(0, 97, 162);
    color:#BC0C0C;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black,
    0px 0px 1px black, 0px 0px 1px black;
}

header {
    background: rgba(0,0,0,0.7);
    margin: 0;
    height: 100px;
}

#dino {
    width: 350px;
    height: 100px;
    align-content: center;

}

.container {
    max-width:390px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    background: rgba(0,0,0,0.25);
}

.compCardDiv {
    order: 1;
    text-align: center;
    width: 100%;
    margin-left:260px;
    margin-right:5px;
}

.crd {
    height: 165px;
    width: 114px;
    border: 2px solid black;
}

#compFaceUp {
    order: 2;
    margin-left:45px;
    background: rgba(255,255,255,0.25)
}

#compFaceDown {
    order: 3;
    margin-left:72px;
    background: rgba(255,255,255,1)
}

.display {
    order: 4;
    background: rgba(0,0,0,0.25);
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#playerFaceDown {
    order: 5;
    margin-left:45px;
    background: rgba(255,255,255,1)
}

#playerFaceUp {
    order: 6;
    margin-left:72px;
    background: rgba(255,255,255,0.25)
}

.playerCardDiv{
    order: 7;
    width: 100%;
    margin-left: 5px;
    margin-right: 260px;
}

div img {
    height: 174px;
    width: 124px;
    margin-top: -6px;
    margin-left: -6px;
}

#imgUpComp {
    transform: scale(-1, -1);
    visibility: visible;
}

#imgDownComp {
    transform: scale(-1, -1);
    visibility: visible;
}

#imgDownPlayer {
    visibility: visible;
}

#imgUpPlayer {
    visibility: hidden;
}

#imgUpComp, #imgUpPlayer {
    height: 165px;
    width: 110px;
    margin-top: -3px;
    margin-left: 0px;
    margin-bottom: -20px;
}

button {
    background-color: black; 
    color: #BC0C0C;
    border: 1px solid #555555;
}

.buttonDiv {
    order: 8;
    width: 100%;
    justify-content: center;
}

#draw {  
    width: 98px;
    height: 36px;
    border-radius: 24px;
    font-size: 25px;
    margin-left: 146px;   
}

#new {   
    width: 122px;
    height: 26px;
    border-radius: 11px;
    font-size: 15px;
    margin-top: 28px;
    margin-left: 134px;   
}

@media only screen and (min-width: 930px) {
    body {
        height: 100vh;
        max-width:1368px;
        margin: 0;
    }
    
    header {
        background: rgba(0,0,0,0.7);
        margin: 0;
        height: 100px;
    }
    
    #dino {
        display: block;
        width: 350px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #displayH1 {
       text-align: center;
       font-size: 30px;
    }

    h3 {
        background: rgba(0,0,0,0.25);
        font-size: 25px;
    }

    .display {
        order: 1;
        background: rgba(0,0,0,0.25);
        display: block;
        width: 210px;
        height: 120px;
        text-align: center;
        margin-top: 279px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 32px;
    }
    
    .crd {
        height: 269px;
        width: 172px;
        border: 2px solid black;
    }

    #compFaceUp {
        order: 2;
        margin-top: 70px;
        background: rgba(255,255,255,0.25);
    }

    #compFaceDown {
        order: 3;
        margin-top: 70px;
        margin-left: 70px;
        margin-right: -200px;
        background: rgba(255,255,255,1);
    }
    .compCardDiv {
        order: 4;
        text-align: center;
        width: 170px;   
        margin-left: 180px;
    }
    
    #playerFaceDown {
        order: 5;
        margin-left: 355px;
        margin-top: -30px;
        background: rgba(255,255,255,1)
    }

    #playerFaceUp {
        order: 6;
        margin-left: 70px;
        margin-top: -30px;
        background: rgba(255,255,255,0.25)
    }
    .playerCardDiv{
        order: 7;
        width: 170px;
        margin-left: 150px;
        margin-right: 260px;
    }
    div img {
        height: 285px;
        width: 190px;
        margin-top: -10px;
        margin-bottom: -200px;
        margin-left: -10px;
    }

    #imgUpComp {
        transform: scale(-1, -1);
        visibility: visible;
    }

    #imgDownComp {
        transform: scale(-1, -1);
        visibility: visible;
    }

    #imgDownPlayer {
        height: 285px;
        width: 190px;
        visibility: visible;
    }

    #imgUpPlayer {
        height: 269px;
        width: 172px;
        visibility: hidden;
    }

    #imgUpComp, #imgUpPlayer {
        height: 269px;
        width: 172px;
        margin-top: -3px;
        margin-left: 0px;
        margin-bottom: -20px;
    }
    
    .buttonDiv {
        order: 8;
        width: 100%;
        justify-content: center;
    }

    button:hover {
        background: rgba(0,0,0,0);
        color: black; 
        border: 1px solid black;
    }
    
    #draw {
       
        width: 132px;
        height: 61px;
        border-radius: 24px;
        font-size: 40px;
        margin-left: 480px;
        margin-top: -65px;   
    }
    
    #new {
        
        width: 132px;
        height: 34px;
        border-radius: 11px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 480px;
    }
}
@media only screen and (min-width: 1368px) {
    body {
        height: 100vh;
        max-width:1920px;
        margin: 0;
    }
    
    header {
        background: rgba(0,0,0,0.7);
        margin: 0;
        height: 100px;
    }
    
    #dino {
        display: block;
        width: 350px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #displayH1 {
        padding: 40px;
    }

    h3 {
        background: rgba(0,0,0,0.25);
        font-size: 25px;
    }

    .display {
        order: 1;
        background: rgba(0,0,0,0.25);
        display: block;
        width: 260px;
        height: 220px;
        text-align: center;
        margin-top: 279px;
        margin-left: 121px;
        margin-right: 282px;
        border-radius: 42px;
    }
    
    .crd {
        height: 269px;
        width: 172px;
        border: 2px solid black;
    }

    #compFaceUp {
        order: 2;
        margin-top: 70px;
        background: rgba(255,255,255,0.25);
    }

    #compFaceDown {
        order: 3;
        margin-top: 70px;
        margin-left: 188px;
        margin-right: -200px;
        background: rgba(255,255,255,1);
    }
    .compCardDiv {
        order: 4;
        text-align: center;
        width: 170px;   
        margin-left: 150px;
    }
    
    #playerFaceDown {
        order: 5;
        margin-left:707px;
        margin-top: -130px;
        background: rgba(255,255,255,1)
    }

    #playerFaceUp {
        order: 6;
        margin-left: 188px;
        margin-top: -130px;
        background: rgba(255,255,255,0.25)
    }
    .playerCardDiv{
        order: 7;
        width: 170px;
        margin-left: 550px;
        margin-right: 260px;
    }
    div img {
        height: 285px;
        width: 190px;
        margin-top: -10px;
        margin-bottom: -200px;
        margin-left: -10px;
    }

    #imgUpComp {
        transform: scale(-1, -1);
        visibility: visible;
    }

    #imgDownComp {
        transform: scale(-1, -1);
        visibility: visible;
    }

    #imgDownPlayer {
        height: 285px;
        width: 190px;
        visibility: visible;
    }

    #imgUpPlayer {
        height: 269px;
        width: 172px;
        visibility: hidden;
    }

    #imgUpComp, #imgUpPlayer {
        height: 269px;
        width: 172px;
        margin-top: -3px;
        margin-left: 0px;
        margin-bottom: -20px;
    }
    
    .buttonDiv {
        order: 8;
        width: 100%;
        justify-content: center;
    }

    button:hover {
        background: rgba(0,0,0,0);
        color: black; 
        border: 1px solid black;
    }
    
    #draw {
       
        width: 132px;
        height: 61px;
        border-radius: 24px;
        font-size: 40px;
        margin-left: 905px;
        margin-top: -95px;   
    }
    
    #new {
        
        width: 132px;
        height: 34px;
        border-radius: 11px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 905px;
    }
}